.background {
    background-image: url("../clouds.gif");
    background-size: cover;
    background-repeat: no-repeat;
    border-color: white;
    border-width: 10 px;
     height: 100%;
     width: 100%;
  }